<h1>Welcome to Help page</h1>

<% provide(:title,"HELP") %>
<p>We provide help on:
    <ol>

            <li>Resources</li>

            <li>Contents</li>

            <li>Templates</li>

           
    </ol>
</p>
